body {background-color: #98a9ff;}
body {color: white;}

h1 { text-align: center;}
.buttonHolder{text-align: center;}
.demoHolder{text-align: center;}

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
